/*--Fonts-- */
@font-face {
  font-family: "Gotham Pro Medium";
  src: url("GothamPro-Medium.eot");
  src: url("GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("GothamPro-Medium.woff") format("woff"), url("GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*---Style--- */
/* line 10, ../sass/style.sass */
body {
  font-family: "Gotham Pro Medium" !important;
}

/* line 13, ../sass/style.sass */
header {
  background: url("../img/main-bg.png") no-repeat center top/cover;
}
/* line 15, ../sass/style.sass */
header .top-header {
  border-bottom: 1px solid #7e7e7e;
}
/* line 17, ../sass/style.sass */
header .top-header .logo {
  display: block;
  padding: 20px 0 15px 0;
}
/* line 20, ../sass/style.sass */
header .top-header .navbar {
  color: #fff;
  list-style: none;
  padding-top: 25px;
}
/* line 24, ../sass/style.sass */
header .top-header .navbar .nav-item {
  position: relative;
  top: 24px;
  border-bottom: 3px solid transparent;
  padding-bottom: 40px;
  font-size: 18px;
  cursor: pointer;
}
/* line 31, ../sass/style.sass */
header .top-header .navbar .nav-item:hover {
  border-bottom: 3px solid #11749e;
}
/* line 33, ../sass/style.sass */
header .top-header .navbar .nav-social {
  font-size: 20px;
  position: relative;
  top: 22px;
}
/* line 37, ../sass/style.sass */
header .top-header .navbar .nav-social a {
  color: #fff;
}
/* line 39, ../sass/style.sass */
header .top-header .navbar .nav-social a:hover {
  color: #11749e;
}
/* line 41, ../sass/style.sass */
header .main-header {
  padding-top: 275px;
  padding-bottom: 110px;
}
/* line 44, ../sass/style.sass */
header .main-header h1 {
  font-size: 150px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
/* line 50, ../sass/style.sass */
header .main-header h2 {
  font-size: 25px;
  color: #11749e;
  letter-spacing: 0.9em;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 120px;
}
/* line 57, ../sass/style.sass */
header .main-header span {
  color: #d5d5d5;
}
/* line 59, ../sass/style.sass */
header .main-header #main-header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  border: 1px solid #d5d5d5;
  border-radius: 32.5px;
  background-color: transparent;
  color: #d5d5d5;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 18px;
}
/* line 73, ../sass/style.sass */
header .main-header #main-header__btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

/* line 77, ../sass/style.sass */
.features {
  background: url("../img/sec-bg.png") no-repeat center top/cover;
  color: #fff;
  text-align: center;
  padding-bottom: 130px;
}
/* line 82, ../sass/style.sass */
.features h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  padding-top: 170px;
  padding-bottom: 150px;
}
/* line 88, ../sass/style.sass */
.features h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 20px;
}
/* line 93, ../sass/style.sass */
.features p {
  font-size: 15px;
}
/* line 95, ../sass/style.sass */
.features .feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  width: 135px;
  height: 135px;
  border-radius: 77.5px;
  background-color: #2e85aa;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* line 107, ../sass/style.sass */
.notes {
  background: linear-gradient(to right, #222222 50%, #f3f3f3 50%);
}
/* line 109, ../sass/style.sass */
.notes .first-note {
  color: #fff;
  position: relative;
}
/* line 112, ../sass/style.sass */
.notes .first-note .container {
  padding: 80px 80px 80px 0;
}
/* line 114, ../sass/style.sass */
.notes .first-note .container span {
  font-size: 13px;
}
/* line 116, ../sass/style.sass */
.notes .first-note .container h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 45px;
  padding-top: 20px;
  text-transform: uppercase;
}
/* line 123, ../sass/style.sass */
.notes .first-note .container p {
  font-size: 15px;
}
/* line 125, ../sass/style.sass */
.notes .first-note .first-note-img {
  position: absolute;
  background: url("../img/desk1.png") no-repeat center center/cover;
  right: 0;
  height: 100%;
  width: 50%;
}
/* line 131, ../sass/style.sass */
.notes .second-note {
  color: #222222;
  position: relative;
}
/* line 134, ../sass/style.sass */
.notes .second-note .container {
  transform: translateX(50%);
  width: 600px;
  padding: 80px 0 80px 80px;
}
/* line 138, ../sass/style.sass */
.notes .second-note .container span {
  font-size: 13px;
}
/* line 140, ../sass/style.sass */
.notes .second-note .container h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 45px;
  padding-top: 20px;
  text-transform: uppercase;
}
/* line 147, ../sass/style.sass */
.notes .second-note .container p {
  font-size: 15px;
}
/* line 149, ../sass/style.sass */
.notes .second-note .container .col-6 {
  margin: 0;
}
/* line 151, ../sass/style.sass */
.notes .second-note .second-note-img {
  position: absolute;
  background: url("../img/desk2.png") no-repeat center center/cover;
  height: 100%;
  width: 50%;
}

/* line 157, ../sass/style.sass */
.blog {
  background: url("../img/third-bg.png") no-repeat center top/cover;
  padding-top: 180px;
  padding-bottom: 110px;
}
/* line 161, ../sass/style.sass */
.blog h2 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 110px;
}
/* line 166, ../sass/style.sass */
.blog span {
  font-size: 30px;
}
/* line 168, ../sass/style.sass */
.blog .blog-item {
  padding-top: 80px;
}
/* line 170, ../sass/style.sass */
.blog .blog-item figcaption {
  text-align: center;
}
/* line 172, ../sass/style.sass */
.blog .blog-item figcaption h3 {
  font-size: 18px;
  color: #11749e;
  font-weight: 700;
  padding-top: 45px;
  padding-bottom: 30px;
}

/* line 178, ../sass/style.sass */
.between {
  background-color: #11749e;
  color: #fff;
  padding: 110px 0;
  align-items: center;
}
/* line 183, ../sass/style.sass */
.between .between-item {
  display: flex;
}
/* line 185, ../sass/style.sass */
.between .between-item i {
  font-size: 80px;
  padding-right: 20px;
}

/* line 189, ../sass/style.sass */
.app {
  background: url("../img/fourth-bg.png") no-repeat center center/cover;
  color: #fff;
  padding: 100px 0;
}
/* line 193, ../sass/style.sass */
.app .app-rev {
  padding: 120px 0;
}
/* line 195, ../sass/style.sass */
.app .app-rev h2 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 40px;
}
/* line 200, ../sass/style.sass */
.app .app-rev p {
  font-size: 15px;
  padding-bottom: 70px;
}
/* line 203, ../sass/style.sass */
.app .app-rev .progress_bar {
  background-color: #11749e;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 15px;
}
/* line 208, ../sass/style.sass */
.app .app-rev .progress_bar1 {
  width: 80%;
}
/* line 210, ../sass/style.sass */
.app .app-rev .progress_bar2 {
  width: 90%;
}
/* line 212, ../sass/style.sass */
.app .app-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 217, ../sass/style.sass */
.team {
  background: url("../img/fifth-bg.png") no-repeat center top/cover;
  padding-top: 160px;
  padding-bottom: 80px;
}
/* line 221, ../sass/style.sass */
.team h2 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 110px;
}
/* line 226, ../sass/style.sass */
.team span {
  font-size: 30px;
}
/* line 228, ../sass/style.sass */
.team .team-item {
  padding-top: 80px;
  text-align: center;
  position: relative;
}
/* line 232, ../sass/style.sass */
.team .team-item h3 {
  color: #11749e;
  font-size: 20px;
  font-weight: 700;
}
/* line 236, ../sass/style.sass */
.team .team-item span {
  font-size: 15px;
  font-weight: 700;
}
/* line 239, ../sass/style.sass */
.team .team-item figcaption {
  position: relative;
  bottom: 50px;
  background: #fff;
  width: 80%;
  left: 13%;
  right: 10%;
  padding: 25px 15px;
}

/* line 248, ../sass/style.sass */
.contact {
  background: url("../img/sixth-bg.png") no-repeat center top/cover;
  padding-top: 250px;
  padding-bottom: 100px;
  color: #fff;
}
/* line 253, ../sass/style.sass */
.contact h2 {
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 700;
  padding-bottom: 150px;
}
/* line 258, ../sass/style.sass */
.contact form {
  width: 100%;
  padding-bottom: 50px;
}
/* line 261, ../sass/style.sass */
.contact form input, .contact form textarea {
  background-color: transparent;
  border: #fff 1px solid;
  width: 100%;
  padding: 12px 18px;
  font-size: 15px;
  color: #fff;
}
/* line 268, ../sass/style.sass */
.contact form textarea {
  margin-top: 40px;
  resize: none;
}
/* line 271, ../sass/style.sass */
.contact form input[type="number"]::-webkit-outer-spin-button,
.contact form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 275, ../sass/style.sass */
.contact button {
  background-color: #11749e;
  font-size: 22px;
  font-weight: 700;
  padding: 15px 60px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* line 284, ../sass/style.sass */
.contact button:hover {
  background-color: #0f668b;
}

/* line 287, ../sass/style.sass */
footer {
  background-color: #222222;
  padding: 60px 0;
  color: #fff;
  font-size: 13px;
}

/*---Media Queries -- */
@media (max-width: 1200px) {
  /* line 295, ../sass/style.sass */
  .blog-item img {
    margin-left: 20%;
  }

  /* line 297, ../sass/style.sass */
  .nav-item {
    font-size: 15px !important;
  }

  /* line 299, ../sass/style.sass */
  .notes .second-note .container {
    width: 500px;
  }
}
@media (max-width: 992px) {
  /* line 303, ../sass/style.sass */
  h1 {
    font-size: 114px !important;
  }

  /* line 305, ../sass/style.sass */
  .nav-social {
    font-size: 40px !important;
    top: 0 !important;
    padding-bottom: 20px;
  }

  /* line 309, ../sass/style.sass */
  .nav-item {
    padding-bottom: 0 !important;
  }

  /* line 311, ../sass/style.sass */
  .blog-item img {
    margin-left: 10%;
  }

  /* line 313, ../sass/style.sass */
  .navbar-social {
    padding: 0 110px !important;
    padding-top: 25px;
  }

  /* line 316, ../sass/style.sass */
  .notes .second-note .container {
    width: 400px;
  }

  /* line 318, ../sass/style.sass */
  .contact input {
    margin-bottom: 30px;
  }
}
